:root {
    --bodyBg: #fff;
    --hero-btnBg:#ff007a;
    --hero-btnCl:#fff;
    --title:#211F25;
    --text:#3d3a41;
    --easyBg :#FCFBFF;
    --carousel:#f7f5ff;
    --getStartedBg:#6b50ff;
    --newsBg:#fff;
    --burgerBg: #7e35eb;
}